$brand-primary: #23408f;
$brand-green: #006b36;
$tint: #f5f5f5;
$tan: #f4f2e6;
$dark-tan: #e2dfcf;
$text: #444444;
$navbar-color: #d9dadc;
$light: #fbfbfb;
$light-border-color: #dad9d9;
$input-color: #c5c5c5;

$pad: 12px;