.band {
  padding: $band-vertical-padding 0;
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 48px;

    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
      line-height: 22px;
    }
  }

  h1 + p {
    margin-bottom: 0;
    + .button {
      margin-top: 15px;
    }
  }
}


  .band--small {
    padding: $band-small-vertical-padding 0;

    @media (max-width: $screen-xs-max) {
      padding: 30px 0;

      p {
        max-width: 342px;
        margin: 0 auto;
      }
    }
  }


  .band--nopad {
    padding-top: 8px;
    padding-bottom: 0;

    @media(max-width: $screen-xs-max) {
      padding-top: 2px;
    }
  }

  .band--gallary {
    padding: 45px 0;

    @media (max-width: $screen-xs-max) {
      padding: 22px 0;
    }
  }

   .band--lead {
    padding-top: 100px;

    @media (max-width: $screen-xs-max) {
      padding-top: 50px;
    }
  }

  .band--padded {
    padding: 150px 0 130px;

    @media (max-width: $screen-xs-max) {
      padding: 75px 0 65px;
    }
  }
  .band--tint {
    background-color: $tint;
  }

  .band--clouds {
    position: relative;

    &:before {
      background-image: url(../images/cloud-top.png);
      background-repeat: no-repeat;
      height: 558px;
      width: 100%;
      
      content: '';
      display: block;
      position: absolute;
      top: 390px;
      background-position: left bottom;

      @media (min-width: 1400px) {
        background-position: left bottom;
      }

      @media (min-width: 1625px) {
        background-position: left bottom;
      }
      @media (max-width: $screen-xs-max) {
        background-image: url(../images/cloud-top-mobile.png);
        height: 162px;
        background-size: 383px 162px;
        background-position: center center;
        top: 320px;
      }
    }
  }

  .band--foot {
    padding-top: 400px;
  }

  .band--bay {
    position: relative;
    &:before {
      background-image: url(../images/clouds-bot.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      height: 578px;
      width: 100%;
      
      content: '';
      display: block;
      position: absolute;
      top: 200px;

      @media (max-width: $screen-xs-max) {
        background-image: url(../images/cloud-bot-mobile.png);
        height: 155px;
      }
    }
  }

    .band__headline {

    }
      .band__headline--contact {
        margin-bottom: 60px !important;
      }
  
    .band__2col {
      padding: 2px 4px;
      @media(min-width: $screen-sm-min)  {
        &:first-child {
          padding-left: 0;
          padding-right: 3px;
        }
        &:last-child {
          padding-right: 0;
          padding-left: 3px;
        }
      }
    }