.box {
  background: $tan;
  text-align: center;
  padding: 90px 45px;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    padding: 40px 22px;
  }
  @media (max-width: $screen-xs-max) {
    padding: 45px 22px;
  }
}

  .box--full {
    height: 100%;
  }

  .box--outline {
    border: 1px solid $dark-tan;
  }

  .box--small {
    padding: 50px;

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      padding: 50px 25px;
    }
  }

  .box--fixed {
    max-width: 380px;

    @media (max-width: $screen-xs-max) {
      max-width: 190px;
    }

    &:before {
      content: '';
      background-image: url(../images/temp/setting-temp.jpg);
      width: 540px;
      height: auto;
      display: block;
      position: absolute;

      @media (max-width: $screen-xs-max) {
        width: 270px;
      }
      
    }
  }