.card {

}

    .card__body {
      background: $tan;

      padding: 37px 25px;

      @media(max-width: $screen-xs-max)  {
        padding: 18px 12px;
      }

    }

    .card__title {
      margin-top: 0;
      margin-bottom: 5px;

      @media(max-width: $screen-xs-max)  {
        margin-bottom: 2.5px;
      }
    }

      .card__title--single {
        word-spacing: 10000px;
      }

    .card__title-desc {
      font-size: 18px;
      line-height: 27px;
      font-style: italic;
      margin: 0;
      display: block;

       @media(max-width: $screen-xs-max)  {
        font-size: 7px;
        line-height: 8px;
      }
    }

    .card__link {
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      font-style: normal;
      font-family: 'Roboto';
      color: #23408F;

      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }

      @media(max-width: $screen-xs-max)  {
        font-size: 7px;
        line-height: 8px;
      }

    }