.contact {
  background-color: $light;
  border: 1px solid $light-border-color;
}

    .contact__body {
      padding: 0 90px;
      text-align: left;

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        padding: 0 30px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 30px;
      }
    }

    .contact__image {
      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        img {
          max-width: 450px;
        }
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }