.form {

}

    .form__input {
      border-color: #CCCCCC;
      border-radius: 0;
      padding: 9px 12px;
      color:#666;

      &:focus,
      &:active {
        border-color: $brand-primary;
        outline: none;
        box-shadow: none;
      }
    }

    .form__label {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 5px;
      color: #9B9B9B;
    }

    .form__textarea {
      @media (max-width: $screen-md-max) {
        height: 75px;
      }
    }

    .form__group {
      margin-bottom: 18px;

      .form__row & {
        width: 50%;
        float: left;

        &:first-child {
          padding-right: 15px;
        }

        &:last-child {
          padding-left: 15px;
        }
      }
    }

    .form__row {
      clear: both;
      overflow: hidden;
    }
