.form {

}

    .form__input {
      border-color: #999999;
      border-radius: 0;

      &:focus,
      &:active {
        border-color: $brand-primary;
        outline: none;
        box-shadow: none;
      }
    }

    .form__label {
      font-weight: 400;
      font-size: 12px;
    }

    .form__textarea {
      @media (max-width: $screen-md-max) {
        height: 75px;
      }
    }