.gallary {
  position: relative;
}
  .gallary__image {
    margin-top: 120px;
  }

  .gallary__desc {
    position: relative;
    top: 0;
    z-index: 1;
  }

    .gallary__desc--right {
      right: 155px;
    }

    .gallary__desc--left {
      left: 155px;
    }

  .gallary__helper--right {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      position: absolute;
      right: 0;
    }
  }

  .gallary__helper--left {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      position: absolute;
      left: 0;
    }
  }