.gallary {
  position: relative;
}
  .gallary__image {

  }

  .gallary__desc {
    position: relative;
    top: 0;
    z-index: 1;
  }
  
    .gallary__desc--right {
      right: 155px;
      @media (max-width: $screen-sm-max) {
        right: 0;
      }
    }

    .gallary__desc--left {
      left: 155px;
      @media (max-width: $screen-sm-max) {
        left: 0;
      }
    }

  .gallary__helper--right {
    @media (max-width: $screen-md-max) {
      position: absolute;
      right: 0;
    }
  }

  .gallary__helper--left {
    @media (max-width: $screen-md-max) {
      position: absolute;
      left: 0;
    }
  }
