
  .product__image {
    background-position: top center;
    background-repeat: no-repeat;

    height: 400px;
    width: 100%;

    @media(max-width: $screen-xs-max)  {
      max-height: 271px;
    }
  }
    .product__image--midrise {
      background-image: url(../images/midrise-residences.jpg);
      @media(max-width: $screen-xs-max)  {
        background-image: url(../images/midrise-residences-mobile.jpg);
        background-size: 376px 271px;
      }
    }

    .product__image--carriage {
      background-image: url(../images/carriage-homes.jpg);
      background-position: center center;
      @media(max-width: $screen-xs-max)  {
        background-image: url(../images/carriage-homes-mobile.jpg);
        background-size: 376px 271px;
      }
    }