<section class="band  band--light  band--nopad">
  <div class="container-fluid">
    <div class="row">
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/ovation-new.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Ovation</h2>
            <p class="card__copy  card__copy--italic">Downtown St. Petersburg</p>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/sandpearl-new.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Sandpearl Resort & Residences</h2>
            <p class="card__copy  card__copy--italic">Clearwater Beach</p>
          </div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/rowland-new.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Rowland Place</h2>
            <p class="card__copy  card__copy--italic">Downtown St. Petersburg</p>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/victoria-new.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Victoria Place</h2>
            <p class="card__copy  card__copy--italic">Downtown St. Petersburg</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>