<section class="band  band--light  band--nopad">
  <div class="container-fluid">
    <div class="row">
      <div class="card  card--col-3">
        <div class="card__object">
          <img src="assets/images/card-images/about-1.jpg" class="hor-card__image">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Ovation</h2>
            <p class="card__copy  card__copy--italic">Downtown St. Petersburg</p>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-3">
        <div class="card__object">
          <img src="assets/images/card-images/about-2.jpg" class="hor-card__image">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Sandpearl</h2>
            <p class="card__copy  card__copy--italic">Clearwater Beach</p>
          </div>
        </div> 
      </div>
      <div class="card  card--col-3">
        <div class="card__object">
          <img src="assets/images/card-images/about-3.jpg" class="hor-card__image">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Rowland Place</h2>
            <p class="card__copy  card__copy--italic">Downtown St. Petersburg</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>