<section class="band  band--light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hor-card  hor-card--contact">
          <div class="hor-card__body" data-mh="contact">
            <div class="hor-card__wrap">
              <form class="form  form--contact-page" method="POST">
                <div class="form__row">
                  <div class="form__group">
                    <label class="form__label" for="first-name">First Name *</label>
                    <input type="text" class="form-control  form__input" id="first-name" required>
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="first-name">Last Name *</label>
                    <input type="text" class="form-control  form__input" id="last-name" required>
                  </div>
                </div>
                <div class="form__row">
                  <div class="form__group">
                    <label class="form__label" for="first-name">Email Address *</label>
                    <input type="email" class="form-control  form__input" id="email" required>
                  </div>
                  <div class="form__group">
                    <label class="form__label" for="first-name">Phone</label>
                    <input type="text" class="form-control  form__input" id="phone">
                  </div>
                </div>
                <div class="form__group">
                  <label class="form__label" for="first-name">Comments/Enquiries</label>
                  <textarea class="form-control  form__input  form__textarea" rows="5" id="comment"></textarea>
                </div>
                <div class="form__group">
                  <button type="submit" class="button  button--primary">SUBMIT</button>
                </div>
              </form>
            </div>
          </div>
          <div class="hor-card__sidebar" data-mh="contact">
            <div class="hor-card__sidebar-wrap">
              <h4 class="hor-card__sidebar-title">Email us</h4>
              <p class="hor-card__sidebar__copy">Carol Jennings<br/>Sales Consultant</br><a href="mailto:carol@jmcdev.com">carol@jmcdev.com<a/><br/><br/>David Brinkley<br/>Sales Consultant</br><a href="mailto:dbrinkley@jmcdev.com">dbrinkley@jmcdev.com<a/><br/><br/>Claudia Emery<br/>Sales and Marketing Director<br/>claudia@jmcdev.com</p>
              <h4 class="hor-card__sidebar-title  mt20">Sales center hours</h4>
              <p class="hor-card__sidebar__copy">Monday-Friday: 9 a.m - 5 p.m.<br/>Saturday: 10 a.m. - 5 p.m.</br>Sunday: noon - 5 p.m.</br>Or by appointment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>