<section class="band  band--tint" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="band__headline  band__headline--contact">Interested in learning more?</h1>
        <div class="contact">
          <div class="contact__body" data-mh="contact">
            <form class="form  form--contact" method="POST">
              <div class="form__group">
                <label class="form__label" for="first-name">First Name *</label>
                <input type="text" class="form-control  form__input" id="first-name" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="first-name">Last Name *</label>
                <input type="text" class="form-control  form__input" id="last-name" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="first-name">Email Address *</label>
                <input type="email" class="form-control  form__input" id="email" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="first-name">Comments/Enquiries</label>
                <textarea class="form-control  form__input  form__textarea" rows="5" id="comment"></textarea>
              </div>
              <div class="form__group">
                <button type="submit" class="button  button--primary">SUBMIT</button>
              </div>
            </form>
          </div>
          <div class="contact__map" data-mh="contact">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>