<footer class="site-foot  text-center" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="site-foot__text"><a href="http://jmccommunities.com/index.html" target="_blank"><img src="assets/images/temp/jmc-logo.jpg" class="mb20  center-block" ></a>Belleview Place &nbsp;|&nbsp;  275 Belleview Boulevard  &nbsp;|&nbsp;  Belleair, FL 33756  &nbsp;|&nbsp;  <a href="tel:7274697070">727 469 7070</a>  &nbsp;|&nbsp;  <a href="mailto:info@bellviewplace.com">info@belleviewplace.com</a>  &nbsp;|&nbsp;  <a href="https://www.facebook.com/belleviewflorida/">Follow us on Facebook</a></p>
      </div>
    </div>
  </div>
</footer>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="/location">Location</a></li>
      <li><a href="/site-plan">Site Plan</a></li>
      <li><a href="/mid-rise">Mid-rise Residences</a></li>
      <li><a href="/carriage-homes">Carriage Homes</a></li>
      <li><a href="/community-amenities">Community Amenities</a></li>
      <li><a href="/club-amenities">Club Amenities</a></li>
      <li><a href="/the-inn">Belleview Inn</a></li>
      <li><a href="/news">News & Photos</a></li>
      <li><a href="/about-jmc">About JMC</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbUCc95DCXKnlWAcJK-gLsNt4__JO4u0"></script>

<script type="text/javascript" src="assets/js/site.js"></script>
<script>
    $(function() {
      // Thanks to Mark Avery
      // http://stackoverflow.com/questions/8191015/how-do-i-lay-out-my-content-divs-in-a-similar-manner-to-facebook-timeline
      var adjustArticleHeights = (function () {
        var leftColumnHeight = 0,
          rightColumnHeight = 0,
          $articles = $('section article');
        for (var i = 0; i < $articles.length; i++) {
          // This just adds random heights to articles
          
          if (leftColumnHeight > rightColumnHeight) {
            rightColumnHeight += $articles.eq(i).addClass('right').outerHeight(true);
          } else {
            leftColumnHeight += $articles.eq(i).outerHeight(true);
          }
        }
        return $articles;
      })();
    });

    $(document).ready(function(){
        $(".dropdown").hover(            
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
                $(this).toggleClass('open');        
            },
            function() {
                $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
                $(this).toggleClass('open');       
            }
        );
    });
  </script>