<footer class="site-foot  text-center" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="site-foot__text"><a href="http://jmccommunities.com/index.html" target="_blank"><img src="assets/images/temp/jmc-logo.jpg" class="mb20  center-block" ></a>Belleview Place &nbsp;|&nbsp;  275 Belleview Boulevard  &nbsp;|&nbsp;  Belleair, FL 33756  &nbsp;|&nbsp;  <a href="tel:7274697070">727 469 7070</a>  &nbsp;|&nbsp;  <a href="mailto:info@bellviewplace.com">info@belleviewplace.com</a>  &nbsp;|&nbsp;  <a href="https://www.facebook.com/belleviewflorida/">Follow us on Facebook</a></p>
      </div>
    </div>
  </div>
</footer>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="/location">location</a></li>
      <li><a href="/mid-rise">residences</a></li>
      <li><a href="/club-amenities">amenities</a></li>
      <li><a href="/the-inn">inn</a></li>
      <!--<li><a href="/news">news & photos</a></li>-->
      <li><a href="/about-jmc">about jmc</a></li>
      <li><a href="/contact">contact us</a></li>
    </ul>
  </nav>
</div>


<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnbUCc95DCXKnlWAcJK-gLsNt4__JO4u0"></script>

<script type="text/javascript" src="assets/js/site.js"></script>