<section class="band  band--bay">
  <div class="container">
    <div class="row">
      <div class="col-md-8  col-md-offset-2">
        <h1 class="band__headline">Timeless elegance </h1>
        <p class="mb15">“No other new-home community in Florida boasts such a fascinating history — or location on a bluff overlooking calm waters and a beautifully landscaped golf course. We’re developing Belleview Place with great respect to both history and location, as well as to the needs of today’s homebuyers.”</p>
        <p class="mb65"><em>J. Michael Cheezem CEO, JMC Communities</em></p>
      </div>
    </div>
  </div>
</section>
<section class="band  band--light  band--foot">
  <div class="container">
    <div class="row">
      <div class="col-md-8  col-md-offset-2">
        <h1 class="band__headline">Building excellence</h1>
        <p class="mb15">From JMC Communities, whose 40 years’ experience underscores its reputation for enduring quality, integrity and commitment to excellence. Creator of Ovation, Victoria Place, Sandpearl Resort & Residences, and more.</p>
      </div>
    </div>
  </div>
</section>