<section class="band  band--light  band--nopad">
  <div class="container-fluid">
    <div class="row">
      <div class="card  card--col-2">
        <div class="card__object">
          <img src="assets/images/card-images/home-1.jpg" class="hor-card__image">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Mid-rise Residences </h2>
            <a href="" class="card__link">View Floor plan</a>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-2">
        <div class="card__object">
          <img src="assets/images/card-images/home-2.jpg" class="hor-card__image">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Carriage Homes</h2>
            <a href="" class="card__link">View Floor plan</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>