<div class="container-fluid">
  <div class="row">
    <img src="assets/images/location-divider.jpg" class="img-responsive">
  </div>
</div>
<section class="band  band--light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8  col-lg-offset-2  col-md-10  col-md-offset-1">
        <h1 class="band__headline">Location Perfection</h1>
        <p class="band__text  mb0">In addition to many of its on-site amenities and convenience, the hidden hideaway of Belleview Place is just moments away from essential and exciting destinations throughout the Tampa Bay area, including:</p>
      </div>
    </div>
    <div class="row  row--padded">
      <div class="col-md-6" data-mh="features">
        <div class="feature  feature--left">
          <ul class="feature__list">
            <li class="feature__item">Downtown Clearwater: 1.5 miles</li>
            <li class="feature__item">Casual and Fine Dining: minutes away, including Belleair Country Club across the street</li>
            <li class="feature__item">Award-winning Clearwater Beach:  10 minutes </li>
            <li class="feature__item">Pinellas Trail for walking and biking: less than 1 mile</li>
            <li class="feature__item">General and specialty grocery stores: less than 5 miles</li>
            <li class="feature__item">Neighborhood shopping plazas: 5 to 15 minutes away</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6" data-mh="features">
        <div class="feature  feature--right">
          <ul class="feature__list">
            <li class="feature__item">Tampa International Airport: 30 minutes</li>
            <li class="feature__item">St. Pete-Clearwater International Airport: 20 minutes</li>
            <li class="feature__item">Morton Plant Hospital: a few short blocks away</li>
            <li class="feature__item">Entertainment at Ruth Eckerd Hall: 30 minutes</li>
            <li class="feature__item">Numerous pro sports venues (Tampa BayBuccaneers, Rays, Lightning and Rowdies): throughout the bay area</li>
            <li class="feature__item">Capitol Theater: 10 minutes</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>