<section class="band  band--light  band--nopad">
  <div class="container-fluid">
    <div class="row">
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/mid-1.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Residence A 2,348 SF</h2>
            <p class="card__copy  card__copy--italic">3 Bedroom 2 1/2 Bath</p>
            <a href="/assets/floorplans/mid-rise-a.pdf" class="card__link">Download Floor plan</a>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/mid-2.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Residence B 2,072 SF</h2>
            <p class="card__copy  card__copy--italic">2 Bedroom 2 Bath | Den</p>
            <a href="/assets/floorplans/mid-rise-b.pdf" class="card__link">Download Floor plan</a>
          </div>
        </div> 
      </div>
    </div>
    <div class="row">
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/mid-3.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Residence C 1,724 SF</h2>
            <p class="card__copy  card__copy--italic">2 Bedroom 2 1/2 Bath </p>
            <a href="/assets/floorplans/mid-rise-c.pdf" class="card__link">Download Floor plan</a>
          </div>
        </div> 
      </div>
     
      <div class="card  card--col-2">
        <div class="card__object-new">
          <img src="assets/images/card-images/mid-4.jpg" class="img-responsive">
        </div>
        <div class="card__body">
          <div class="card__wrap">
            <h2 class="card__title">Penthouse Residence 3,676 SF</h2>
            <p class="card__copy  card__copy--italic">3 Bedroom 3 1/2 Bath | Den</p>
            <a href="/assets/floorplans/mid-rise-d.pdf" class="card__link">Download Floor plan</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>

<section class="band  band--light  band--floor-plan">
  <div class="container">
    <div class="row">
      <div class="col-lg-8  col-lg-offset-2  col-md-10  col-md-offset-1">
        <h1 class="band__headline">Design Perfection </h1>
        <p class="band__text  mb0">Our in-house design coordinator guides you through selecting finishes to ensure that your home is beautiful and functional. She works with trade and construction crews to make sure all elements fit just-so. At your service from before you buy your home until everything is picture-perfect, the design coordinator is one of our most valued and unique team members.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="floor-plan">
          <img src="assets/images/mid-rise-floor-plan.jpg" class="img-responsive">
          <div class="floor-plan__content">
            <h4 class="floor-plan__title">Belleview Place Site Plan</h4>
            <p class="floor-plan__copy">Red circle indicates the Mid-rise Residence building currently under construction.</p>
            <a href="" class="floor-plan__link">DOWNLOAD SITEMAP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
