<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div class="button_container  hidden-lg navbar-toggle collapsed" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <a class="navbar-brand" href="/">
        <img src="assets/images/belleview-logo.png" alt="Bellview Place luxury condos homes gated community">
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse in" id="bs-megadropdown-tabs">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/location">location</a></li>
        <li><a href="/site-plan">site plan</a></li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">residences<span class="caret"></span></a>
          <div id="filters" class="dropdown-menu mega-dropdown-menu">
            <div class="container-fluid2">
              <ul class="nav-list list-inline">
                <li><a href="/mid-rise"><img src="assets/images/mid-rise-nav.jpg"><span>MID-RISE RESIDENCES</span></a></li>
                <li><a href="/carriage-homes"><img src="assets/images/carriage-nav.jpg"><span>CARRIAGE HOMES</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">amenities<span class="caret"></span></a>
          <div id="filters" class="dropdown-menu mega-dropdown-menu">
            <div class="container-fluid2">
              <ul class="nav-list list-inline">
                <li><a href="/community-amenities"><img src="assets/images/community-nav.jpg"><span>COMMUNITY AMENITIES</span></a></li>
                <li><a href="/club-amenities"><img src="assets/images/club-nav.jpg"><span>CLUB AMENITIES</span></a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="/the-inn">inn</a></li>
        <li><a href="/news">news & photos</a></li>
        <li><a href="/about-jmc">about jmc</a></li>
        <li><a href="/contact">contact us</a></li>
        <!--<li><span class="navbar-btn"><a href="" class="button  button--primary   button--outline  button--padded"></a></span></li>-->
      </ul>
    </div><!--/.nav-collapse -->

  </div><!-- /.container-fluid -->
</nav>
