<nav role="navigation" class="navbar  navbar-default  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="button_container  hidden-md  hidden-lg navbar-toggle collapsed" id="toggle">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <a class="navbar-brand" href="/">
        <img src="assets/images/belleview-logo.png" alt="Bellview Place luxury condos homes gated community">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/location">location</a></li>
        <li><a href="/mid-rise">residences</a></li>
        <li><a href="/club-amenities">amenities</a></li>
        <li><a href="/the-inn">inn</a></li>
        <!--<li><a href="/news">news & photos</a></li>-->
        <li><a href="/about-jmc">about jmc</a></li>
        <li><a href="/contact">contact us</a></li>
        <!--<li><span class="navbar-btn"><a href="" class="button  button--primary   button--outline  button--padded"></a></span></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>