
<section class="band  band--light">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="news">

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-1.jpg" class="hor-card__image"> <!-- image size preferrably 743x495 -->
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span> <!-- date -->
                <h2 class="card__title">This, of course, is not the real copy for this advertisement.</h2> <!-- title -->
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. And even a little wit. Because in today’s competitive marketing environment, the body copy of your advertisment must lead the reader through a series of disarmingly simple.</p> <!-- copy -->
                <a href="/carriage-homes" class="card__link">LEARN MORE</a> <!-- link -->
              </div>
            </div> 
          </article>

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-2.jpg" class="hor-card__image">
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span>
                <h2 class="card__title">This is not the headline.</h2>
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. </p>
                <a href="/carriage-homes" class="card__link">LEARN MORE</a>
              </div>
            </div> 
          </article>

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-3.jpg" class="hor-card__image">
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span>
                <h2 class="card__title">This is not the headline.</h2>
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. </p>
                <a href="/carriage-homes" class="card__link">LEARN MORE</a>
              </div>
            </div> 
          </article>

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-4.jpg" class="hor-card__image">
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span>
                <h2 class="card__title">This, of course, is not the real copy for this advertisement.</h2>
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. And even a little wit. Because in today’s competitive marketing environment, the body copy of your advertisment must lead the reader through a series of disarmingly simple.</p>
                <a href="/carriage-homes" class="card__link">LEARN MORE</a>
              </div>
            </div> 
          </article>

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-1.jpg" class="hor-card__image">
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span>
                <h2 class="card__title">This is not the headline.</h2>
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. </p>
                <a href="/carriage-homes" class="card__link">LEARN MORE</a>
              </div>
            </div> 
          </article>

          <article class="card  card--news">
            <div class="card__object">
              <img src="assets/images/card-images/blog-2.jpg" class="hor-card__image">
            </div>
            <div class="card__body">
              <div class="card__wrap">
                <span class="card__date">December 12, 2016</span>
                <h2 class="card__title">This, of course, is not the real copy for this advertisement.</h2>
                <p class="card__body">This, of course, is not the real copy for this advertisement. The real words will be written once you have approved the headline. Rest assured, the words will expand the concept. With clarity. Conviction. And even a little wit. Because in today’s competitive marketing environment, the body copy of your advertisment must lead the reader through a series of disarmingly simple.</p>
                <a href="/carriage-homes" class="card__link">LEARN MORE</a>
              </div>
            </div> 
          </article>
        </div>
      </div>
    </div>
  </div>
</section>