<section class="band  band--light  band--floor-plan">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="floor-plan">
          <img src="assets/images/site-plan.jpg" class="img-responsive">
          <div class="floor-plan__content">
            <h4 class="floor-plan__title">Belleview Place Site Plan</h4>
            <p class="floor-plan__copy"><i class="fa  fa-map-marker" style="color: #F82E1C;"></i> Red circle indicates the Mid-rise and Carriage Homes Residence buildings currently under construction.</p>
            <a href="/assets/floorplans/belleview-place-floor-plan.pdf" class="floor-plan__link">DOWNLOAD SITEMAP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
